<section class="section">
  <div class="section-content">
    <p>Hi all!</p>
    <p>I'm a software engineer and data scientist working on the <a href="http://www.gcatbiobank.org/">GCAT Genomes for Life</a> project at the <a href="http://www.germanstrias.org/">Institute for Health Science Research Germans Trias i Pujol (IGTP)</a>. Previously I worked in learning technologies at the <a href="http://www.uoc.edu/">Universitat Oberta de Catalunya</a>.</p>
    <p>When not changing the world, I enjoy playing <a href="http://ratings.fide.com/card.phtml?event=2212820">chess</a>, <a href="https://www.strava.com/athletes/6059649">running</a> and <a href="https://www.feec.cat/activitats/100-cims/llista-de-cims/?usuari=57671">hiking</a>. You can find me on <a href="http://www.linkedin.com/in/xdurana">Linkedin</a> or <a href="http://www.github.com/xdurana">Github</a>.</p>
  </div>
</section>
