<section class="section">
  <div class="section-content">
    <p>Hi, I'm Xavi!</p>
    <p>When not changing the world, I enjoy theatre, playing <a href="http://ratings.fide.com/card.phtml?event=2212820">chess</a>, <a href="https://www.strava.com/athletes/6059649">running</a> and <a href="https://www.feec.cat/activitats/100-cims/llista-de-cims/?usuari=57671">hiking</a>. You can find me on <a href="http://www.linkedin.com/in/xdurana">Linkedin</a>, <a href="http://www.twitter.com/xdurana">Twitter</a> or <a href="http://www.github.com/xdurana">Github</a>.</p>
  </div>
</section>
