/* ==========================================================================
   LAYOUT/HEADER
   ========================================================================== */

.header {
    border-top: 5px solid #ccc;
    border-bottom: 1px solid #d9d9d9;
    margin-bottom: .75em;
    min-height: 80px;
}

.container {
  padding: $base-spacing;
  margin-left: auto;
  margin-right: auto;
  max-width: 800px;
}

.logo {
  float: left;
  margin: 0 0 1em 0;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 0.8px;
  font-size: 20px;
  line-height: 28px;
  font-weight: 300;

  span {
    font-weight: 700;
  }
}

.nav {
  min-height: 64px;
}

.navbar {
  float: right;
  margin: 0;
  position: relative;
  padding: 0;
  pointer-events: all;
  cursor: pointer;

  li {
    display: inline-block;
    padding: 0 .6em;
  }
}