/* ==========================================================================
   LAYOUT/HEADER
   ========================================================================== */

.header {
    border-top: 5px solid #ccc;
    border-bottom: 1px solid #d9d9d9;
    margin-bottom: .75em;
    min-height: 80px;
}