/* ==========================================================================
   LAYOUT/HEADER
   ========================================================================== */

.logo {
  text-transform: uppercase;
  letter-spacing: 0.8px;
  font-size: 20px;
  line-height: 28px;
  font-weight: 300;
  padding-bottom: 25px;

  span {
    font-weight: 700;
  }
}