/* ==========================================================================
   BASE/BASE
   ========================================================================== */

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  padding: 100px 20px;
  background: #fff;
  font-family: $f-sans-serif;
  font-size: 18px;
  line-height: 1.6;
  color: #000;
  -webkit-font-smoothing: antialiased;
}

a {
  color: #F46036;
  text-decoration: none;
  -webkit-transition: color ease-in-out 0.2s;
  transition: color ease-in-out 0.2s;
  background-color: transparent;
}

a:active, a:hover {
  outline: 0;
}

a:hover, a:active, a:focus {
  color: #659157;
}
